%h1 Welcome to your Suite project
%h5 I'm located here: #{Suite.project.path}
#getting-started
  %h2 Getting Started
  %p The first thing you'll want to do, is create more pages in your <code>config/content.yml</code> file. There are examples in there. Just remember, <strong>restart your server if you update your config</strong>.
#coffee{ style: "border:2px solid #eee; padding:10px"}
