#info
  %h2 But where's my CSS!!
  %p Funnily enough, css is found in <code>assets/stylesheets</code>. You can use plain ol' css, or SASS. Simply add .sass to the end of a css file and we'll do the rest of the work. Don't know what SASS is? <em><a href="http://sass-lang.com/">I'm about to change your life.</a></em>
  %h2 Want to compile this site?
  %p Run <code>suite build</code> from the project directory and you’ll get a static html, css and js output in your build folder.
  %h2 Need more tips and tricks on how to get Suite running to your liking?
  %p It's all here: <a href="https://github.com/snikch/suite">Suite on GitHub</a>

